{% extends "kegadmin/base.html" %}
{% load kegweblib %}

{% block title %}tap admin{% endblock %}

{% block kegadmin-tap-subnav %}
<div class="kb-admin-subnav">
  {% for tap in taps %}
  {% spaceless %}
  <div class="kb-admin-subnav-tap" url="{% url kegadmin-edit-tap tap.seqn %}">
    <p>
      <a href="{% url kegadmin-edit-tap tap.seqn %}">{{ tap.name }}</a>
    </p>
    <p>
    {% if tap.current_keg %}
      <i>{{ tap.current_keg.type.name }}</i>
    {% else %}
      <i>empty</i>
    {% endif %}
    </p>
  </div>
  {% endspaceless %}{% endfor %}
</div>

<script>
$("div.kb-admin-subnav-tab").click(
function()
{
  window.location = $(this).attr("url");
  return false;
});
</script>

{% endblock kegadmin-tap-subnav %}

{% block kegadmin-main %}{% endblock %}
