{% extends "kegadmin/tap-base.html" %}
{% load kegweblib %}

{% block title %}tap admin: edit tap {{ tap.seqn }}{% endblock %}
{% block pagetitle %}tap admin: edit tap {{ tap.seqn }}{% endblock %}

{% block kegadmin-main %}

{% if tap.current_keg %}
<div class="kb-contentbox">
  <h2>current keg</h2>

  {% with tap.current_keg as keg %}
  <p>
    <b>Keg #{{keg.seqn}}</b>: {{ keg.type }}
  </p>
  {% endwith %}
{% endif %}
</div>

<div class="kb-contentbox">
  <h2>add/replace keg</h2>

  <form action="" method="POST">
  {% csrf_token %}
  <table class="condensed-table">
  {{ change_keg_form.as_table }}
  </table>
  <input type="submit" name="submit"/>
  </form>
</div>

<div class="kb-contentbox">
  <h2>configuration</h2>
</div>
{% endblock %}
