{% extends "base.html" %}
{% load kegweblib %}

{% block content %}
<div class="row">
<div class="span8">
{% for session in sessions %}
  {% include "kegweb/keg-session.html" %}
{% endfor %}
</div>

{% block session-right-hide %}
<div class="span4">
  <div class="well">
  <h4>All Sessions</h4>
  {% block session-right %}
  {% endblock %}
  </div>
</div>
{% endblock %}

</div>

<div class="row">
<div class="span8">
{% include "kegweb/_pagination.html" with page=page_obj %}
</div>
</div>

{% endblock %}
