{% extends "skel.html" %}
{% load static kegweblib %}

{% block title %}{{ kbsite.title }} (Fullscreen Mode){% endblock %}

{% block kb-extracss %}
<style>
body {
  background-color: #000;
  background-image: url({% static "images/chalkboard-bg.jpg" %});
  background-size: cover;
  color: #eee;
}
</style>
{% endblock %}

{% block body %}
<div class="main">
  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <img class="img-responsive" src={% static "images/whats-on-tap.png" %}>
        </div>
      </div>
      <div class="tap-carousel">
        {% for page in pages %}
          <div class="page">
            {% for tap in page %}
              {% with tap.current_keg as keg %}
                {% with keg.type as beverage %}
                  <div class="row">
                    <div class="col-md-2">
                      <img src="{{ keg.get_illustration }}" class="img-responsive" style="padding-bottom: 20px;">
                    </div>

                    <div class="col-md-2">
                      {% if keg.type.picture %}
                        <img class="tap-snapshot-image img-responsive" src="{{ keg.type.picture.resized.url }}">
                      {% else %}
                        <img class="tap-snapshot-image img-responsive" src="{% static "images/kegbot-unknown-square.png" %}">
                      {% endif %}
                        <span class="label label-info">{% volume keg.remaining_volume_ml %} remaining</span>
                    </div>

                    <div class="col-md-8">
                      <h2>
                        {{ beverage.name }} <small>by {{ beverage.producer }}</small>
                      </h2>
                      {% if beverage.description %}
                        <p>
                          <em>{{ beverage.description }}</em>
                        </p>
                      {% endif %}
                    </div>
                  </div>
                {% endwith %}
              {% endwith %}
            {% endfor %} <!-- /tap in page -->
          </div> <!-- /page -->
        {% endfor %}
      </div> <!-- /tap-carousel -->
    </div> <!-- /container-fluid -->
  </div> <!-- /wrapper -->
</div> <!-- /main -->
{% endblock %}

{% block kb-extrajs %}
<script>
  // Auto-reload when something happens.
  var lastEvent = null;
  var queryInterval = 10000;

  function fetchEvents() {
    $.getJSON('/api/v1/events/', function(events) {
      if (events && events.objects && events.objects.length > 0) {
        var latest = events.objects[0];
        if (lastEvent == null || lastEvent.id != latest.id) {
          console.log('Events updated, latest=' + latest.id);
          var prevLast = lastEvent;
          lastEvent = latest;
          if (prevLast != null) {
            location.reload(true);
          }
        }
      } else {
        console.log('No events.');
      }
    });
    setTimeout(fetchEvents, queryInterval);
  }

  $(document).ready(function(){
    fetchEvents();
  });
</script>
{% endblock %}
