{% load kegweblib %}

<div class="row clickable" id="session-snapshot-{{session.id}}"
    data-href="{{session.get_absolute_url}}">
<div class="col-sm-12">

<h3>{{ session.GetTitle }}</h3>

{% with session.GetStats as stats %}

{% with session.get_non_highlighted_pictures as pictures %}
{% if pictures %}
<div class="row">
  <div class="col-sm-3 col-sm-offset-1">
    {% gallery session.get_highlighted_picture "col-sm-12" gallery_id=session.id %}
  </div>
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-12">
        {% include "kegweb/session-badges.html" %}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        {% gallery pictures|slice:":5" "col-sm-2" gallery_id=session.id %}
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="row">
  <div class="col-sm-11 col-sm-offset-1">
    {% include "kegweb/session-badges.html" %}
  </div>
</div>
{% endif %}
{% endwith %}

<div class="row">
  <div class="col-sm-11 col-sm-offset-1">
    <p>
      <i class="icon-time"></i>
      <a href="{{ session.get_absolute_url }}">{{ session.start_time|date:"M j Y, P" }}</a>
      &middot;
      <i class="glyphicon glyphicon-user"></i> {{ session.summarize_drinkers|safe }}
    </p>
  </div>
</div>

</div> <!-- /outer span -->
</div> <!-- /outer row -->

{% endwith %} <!-- getstats -->
