{% extends "base.html" %}
{% load kegweblib %}
{% block title %}Keg List | {{ block.super }}{% endblock %}
{% block pagetitle %}Keg List{% endblock %}

{% block content %}

{% for keg in kegs %}
  <div class="row">
    <div class="span10">
      {% include "kegweb/keg-snapshot.html" %}
    </div>
  </div>
{% endfor %}

{% if is_paginated %}
<div class="pagination">
  <span class="page-links">
    {% if page_obj.has_previous %}
        <a href="{% url "kb-kegs" kbsite.url %}?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}
    <span class="page-current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>
    {% if page_obj.has_next %}
        <a href="{% url "kb-kegs" kbsite.url %}?page={{ page_obj.next_page_number }}">next</a>
    {% endif %}
  </span>
</div>
{% endif %}

{% endblock %}
