{% extends "base.html" %}
{% load kegweblib %}
{% load bootstrap_pagination %}

{% block title %}Keg List | {{ block.super }}{% endblock %}
{% block pagetitle %}Keg List{% endblock %}

{% block content %}

<div class="alert alert-info">
	<button type="button" id="launch_taplist" class="btn btn-lg btn-primary">Click Here</button> to view your taplist in fullscreen!
</div>

{% for keg in kegs %}
  <div class="row">
	<div class="span10">
	  {% include "kegweb/keg-snapshot.html" %}
	</div>
  </div>
{% endfor %}

{% bootstrap_paginate page_obj range=10 %}

{% endblock %}

{% block kb-extrajs %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('#launch_taplist').click(function() {
				window.location = '../taplist/';
			});
		});
	</script>
{% endblock %}
