body {
   margin:0px 0px 0px 0px;
   }

div.content {
   width:500px;
   background:#fff;
   border: 1px solid #aaa;
   margin-left: 120px;
   margin-top: 0px;
   margin-bottom: 10px;
   padding-top: 8px;
   padding-bottom: 5px;
   width:500px;
}

div.contenthead {
   width:250px;
   font-weight: bold;
   background: #ccc;
   border: 1px solid #aaa;
   border-bottom: none;
   padding: 1px;
   margin-left: 120px;
   margin-top:0px;
   margin-bottom:0px;
}

div.mainheader {
   width:500px;
   background:#111;
   border: 1px solid #aaa;
   margin-left: 120px;
   margin-top: 0px;
   margin-bottom: 10px;
   padding-top: 8px;
   padding-bottom: 5px;
   width:500px;
   border-top:0px;
   background-image:url('/mike/images/mooncloud.jpg');
   background-repeat:no-repeat;
}

#rightcontent {
   }
   
p,h1,pre {
   margin:0px 30px 10px 30px;
   }
   
h1 {
   font-size:14px;
   padding-top:10px;
   }
div.box {
   width: 430px;
   border: 1px solid #333;
   padding: 5px;
   margin-left: 30px;
   background: #f0f0ff;
   -moz-border-radius: 5px;
}
div.sep {
   width: 400px;
   border-top: 1px dotted #333;
   clear: both;
}
div.row {
  clear: both;
  padding-top: 0px;
  padding-left: 20px;
}

div.spacer {
  clear: both;
}
div.row span.label {
  clear: all;
  float: left;
  border: 0px dotted black;
  width: 110px;
  text-align: right;
  font-weight: bold;
  padding: 5px;
  margin: 0px;
}
div.row span.data {
  border: 0px dotted black;
  width: 230px;
  float: left;
  padding: 5px;
  text-align: left;
  vertical-align: middle;
}

div.leftnav {
   width: 100px;
   min-height: 200px;
   border: 1px dotted #000;
   border-top: 0px;
   border-left: 0px;
   color: #000;
   padding:5px;
   background-color:#bbc;
   text-align: right;
   width:100px;
   float: left;
   position: fixed;
}
body>#leftnav {width:100px;}

div.nav {
   border: 1px dotted #999;
   background: #eee;
   min-width: 60px;
   width:100%;
   font: 10px/10px Helvetica, sans-serif;
   border-left:0px;
   border-right:0px;

}
