[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
kegbot = {editable = true,path = "."}

[packages]
celery = "*"
coloredlogs = "==7.3.1"
dj-database-url = "==0.4.2"
django-bootstrap-pagination = "==1.6.2"
django-crispy-forms = "==1.6.1"
django-imagekit = "==4.0.1"
django-redis = "==4.8.0"
django-registration = "==2.2"
flake8 = "==3.3.0"
foursquare = "==1!2016.9.12"
gunicorn = "==19.7.1"
httplib2 = "==0.10.3"
isodate = "==0.5.4"
jsonfield = "==2.0.2"
kegbot-api = "==1.1.0"
kegbot-pyutils = "==0.1.8"
mock = "==2.0.0"
oauthlib = "==2.0.2"
pilkit = "==2.0"
protobuf = "==3.3.0"
python-gflags = "==3.1.1"
pytz = "==2017.2"
redis = "==2.10.5"
requests-mock = "==1.3.0"
requests-oauthlib = "==0.8.0"
requests = "==2.18.1"
tweepy = "==3.5.0"
urllib3 = "==1.21.1"
vcrpy = "==1.11.1"
whitenoise = "==3.3.0"
Django = "==1.11.28"
Pillow = "*"
PyYAML = "==3.12"
mysqlclient = "*"
sphinx = "*"
pytest = "*"
pytest-django = "*"
future = "*"
addict = "*"

[scripts]
kegbot = "python bin/kegbot"

[requires]
python_version = "3"
