[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
kegbot = {editable = true,path = "."}

[packages]
celery = "*"
coloredlogs = "*"
dj-database-url = "==0.4.2"
django-bootstrap-pagination = "==1.6.2"
django-crispy-forms = "==1.6.1"
django-imagekit = "==4.0.1"
django-redis = "==4.8.0"
django-registration = "==2.2"
flake8 = "*"
foursquare = "==1!2016.9.12"
gunicorn = "*"
httplib2 = "*"
isodate = "*"
jsonfield = "==2.0.2"
mock = "==2.0.0"
oauthlib = "*"
pilkit = "*"
protobuf = "*"
python-gflags = "*"
pytz = "*"
redis = "*"
requests-mock = "*"
requests-oauthlib = "*"
requests = "*"
tweepy = "*"
vcrpy = "*"
whitenoise = "==3.3.0"
Django = "==1.11.28"
Pillow = "*"
PyYAML = "*"
mysqlclient = "*"
sphinx = "*"
pytest = "*"
pytest-django = "*"
future = "*"
addict = "*"
kegbot-api = "*"

[scripts]
kegbot = "python bin/kegbot"

[requires]
python_version = "3"
