[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
kegbot = {editable = true,path = "."}

[packages]
amqp = "==2.1.4"
billiard = "==3.5.0.2"
celery = "==4.0.2"
certifi = "==2017.4.17"
chardet = "==3.0.4"
colorama = "==0.3.9"
coloredlogs = "==7.3.1"
configparser = "==3.5.0"
contextlib2 = "==0.5.5"
dj-database-url = "==0.4.2"
django-appconf = "==1.0.2"
django-bootstrap-pagination = "==1.6.2"
django-crispy-forms = "==1.6.1"
django-imagekit = "==4.0.1"
django-nose = "==1.4.4"
django-redis = "==4.8.0"
django-registration = "==2.2"
enum34 = "==1.1.6"
flake8 = "==3.3.0"
foursquare = "==1!2016.9.12"
funcsigs = "==1.0.2"
gunicorn = "==19.7.1"
httplib2 = "==0.10.3"
humanfriendly = "==4.4.1"
idna = "==2.5"
isodate = "==0.5.4"
jsonfield = "==2.0.2"
kegbot-api = "==1.1.0"
kegbot-pyutils = "==0.1.8"
kombu = "==4.0.2"
mccabe = "==0.6.1"
mock = "==2.0.0"
monotonic = "==1.4"
nose = "==1.3.7"
oauthlib = "==2.0.2"
olefile = "==0.44"
pbr = "==3.1.1"
pilkit = "==2.0"
protobuf = "==3.3.0"
pycodestyle = "==2.3.1"
pyflakes = "==1.5.0"
python-gflags = "==3.1.1"
pytz = "==2017.2"
redis = "==2.10.5"
rednose = "==1.2.2"
requests-mock = "==1.3.0"
requests-oauthlib = "==0.8.0"
requests = "==2.18.1"
six = "==1.10.0"
termstyle = "==0.1.11"
tweepy = "==3.5.0"
urllib3 = "==1.21.1"
vcrpy = "==1.11.1"
vine = "==1.1.3"
whitenoise = "==3.3.0"
wrapt = "==1.10.10"
Django = "==1.11.28"
Pillow = "*"
PyYAML = "==3.12"
mysqlclient = "*"
sphinx = "*"
pytest = "*"
pytest-django = "*"
future = "*"

[scripts]
kegbot = "python bin/kegbot"

[requires]
python_version = "3"
