/*!
 * Kegweb main css.
 */

@import "../bootstrap/less/bootstrap.less";
@import "bootstrap-variables.less";
@import "typeahead.less";

body {
  padding-top: 50px; /* 50px to make the container go all the way to the bottom of the topbar */
}

.container > footer {
    padding: 5px 0;

    > p {
      text-align: center; /* center align it with the container */
    }
}

.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: 0 -20px;
}

// Override container.content.
// Add white background.
div#content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.nav-tabs {
  margin-bottom: 15px;
}

.helptext {
  .help-block();
}

.fill-parent-width {
  width: 100%;
}

.center-block {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.alert-error {
  .alert-danger;
}

.kb-badges {
  margin: 5px 5px 5px 15px;
}

.kb-badge {
  background-color: @gray;
  color: @gray-lighter;
  padding: 4px;
  white-space: normal;
  margin-right: 5px;
  float: none;
  vertical-align: top;

  h2 {
    text-shadow: @black 2px 2px 2px;
  }

  small {
    color: @gray-light;
    text-transform: uppercase;
    text-weight: bold;
  }
}

.kb-badge-small {
  .kb-badge;

  h2 {
    margin: 0px;
    text-shadow: none;
    font-size: @font-size-base * 1.75;
  }
}

.tap-snapshot-image {
  width: 80%;
  height: auto;
  padding: 4px;
}

.right-col {
  background-color: @gray-lighter;
}

.kb-tapbox {
  .clearfix();
  border-bottom: 1px solid @gray-lighter;
  margin-bottom: 16px;
}

.session-snapshot {
  border-bottom: 1px solid @gray-lighter;
  padding: 8px;
}

.clickable {
  cursor: pointer;
}
.clickable:hover {
  background-color: @gray-lighter;
}

.kb-keg-description {
  color: @gray-dark;
  margin-bottom: 8px;
}

.smalltext {
  font-size: 11px;
  color: @gray-light;
  font-family: @headings-font-family;
  font-weight: @headings-font-weight;
}

.arrow_box {
  position: relative;
  background: #ebebeb;
  border: 3px solid #9fabc2;
  border-radius: 3px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.arrow_box:after, .arrow_box:before {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-right-color: #ebebeb;
  border-width: 20px;
  top: 50%;
  margin-top: -20px;
}

.arrow_box:before {
  border-right-color: #9fabc2;
  border-width: 24px;
  top: 50%;
  margin-top: -24px;
}

/* @end */

/* @group Charts */

.kb-chartbox-error {
  color: #ccc;
  .center-block();
}

.setup-form {
  .control-group {
    margin-bottom: 32px;

    label.control-label {
        font-size: @font-size-base * 2.0;
        height:200%;
    }
    label.checkbox {
        font-size: @font-size-base * 2.0;
        height: @line-height-base * 2.0;
    }
    .requiredField {
      text-weight: bold;
    }
    .asteriskField {
      display: none;
    }
  }
  .help-block {
    font-size: @font-size-base * 1.2;
    color: @gray;
  }
}


/* vim sw=2 ts=2 noet */
