{% extends "page-twocol.html" %}
{% load kegweblib %}

{% block title %}keg {{ keg.id }}{% endblock %}

{% block kb-extrajs %}
   {% if USE_FACEBOOK %}
   {% load facebook_tags %}
   {% facebook_js %}
   {% endif %}
{% endblock %}

{% block col-1 %}
<div class="kb-contentbox-head">
   account
</div>
<div class="kb-contentbox">

  <form action="" method="POST">

    <table class="kb-form">
    {{ form.as_table }}
    <tr>
      <td colspan="2">
        <input type="submit" value="login" />
      </td>
    </tr>
    </table>

  </form>

  <p>
    <span style="font-size:0.8em;">
      (did you <a href="/accounts/password/reset/">forget your username or
      password?</a>)
    </span>
  </p>
</div>

{% endblock col-1 %}

{% block col-2 %}

{% if False %}
<div class="kb-contentbox-head">
  or...
</div>
<div class="kb-contentbox">
  {% facebook_button %}
</div>
{% endif %}

{% endblock %}
