{% extends "page-twocol.html" %}
{% load kegweblib %}

{% block title %}reset password{% endblock %}

{% block col-1 %}
<div class="kb-contentbox-head">
  reset your password
</div>
<div class="kb-contentbox">
  <p>
    fill out this form below and we'll get you going with a new password.
  </p>
  <form action="" method="POST">{% csrf_token %}
    <table class="kb-form">
      {{ form.as_table }}
      <tr>
        <td colspan="2">
          <input type="submit" value="submit" />
        </td>
      </tr>
    </table>
  </form>
</div>
{% endblock %}
