{% extends "base.html" %}
{% load kegweblib %}

{% block title %}main page{% endblock %}

{% block content %}
<div class="contenthead">
   register
</div>
<div class="content">
{{ form.errors }}
{% if form.username.errors %}
{{ form.username.errors }} (username)
{% endif %}
{% if form.password1.errors %}
{{ form.password1.errors }} (username)
{% endif %}
<p>
<form method="POST" action="/accounts/register/">
<table>
{{form.as_table}}
</table>
<br>
<input type="submit">
</form>

</p>
</div>

{% endblock %}
