{% extends "page-twocol.html" %}
{% load kegweblib %}

{% block title %}main page{% endblock %}

{% block kb-extrajs %}
  <script>
    var LAST_EVENT_ID = 0;
    var ALL_EVENTS = Array();
    function addEventHtml(row, animate) {
      var eid = row['id'];
      var append = false;

      if (ALL_EVENTS.indexOf(eid) >= 0) {
        return;
      }
      ALL_EVENTS.push(eid);

      if (eid > LAST_EVENT_ID) {
        LAST_EVENT_ID = eid;
      }

      var newDivName = 'kb-event-' + row['id'];
      var newdiv = '<div id="' + newDivName + '">';
      newdiv += row['html'];
      newdiv += '</div>';

      if (append) {
        $('#kb-recent-events').append(newdiv);
      } else {
        $('#kb-recent-events').prepend(newdiv);
      }
      if (animate) {
        $('#' + newDivName).hide().css("background-color", "#ffc800")
            .fadeIn('fast').animate({ backgroundColor: "#ffffff" }, 1500);
      }
      $("#kb-recent-events").find("abbr.timeago").timeago();
    }

    function getEvents() {
      $.getJSON('/api/event/html/?since=' + LAST_EVENT_ID, function(data) {
        if (data['result'] && data['result']['events']) {
          var events = data['result']['events'];
          for (var ev in events) {
            addEventHtml(events[ev], false);
          }
        }
      });
    }

    $(document).ready(function() {
      // TODO(mikey): more intelligent timeout/backoff; idle sensitivity.
      getEvents();
      setInterval(getEvents, 3000);
    });
  </script>
{% endblock %}

{% block col-1 %}
<div class="kb-contentbox-head">
  on tap
</div>
<div class="kb-contentbox">
  {% for tap in taps %}
    {% if tap.current_keg %}
      {% with tap.current_keg as keg %}
        {% include "kegweb/keg-snapshot.html" %}
      {% endwith %}
    {% endif %}
  {% endfor %}
</div>
{% endblock col-1 %}

{% block col-2 %}
<div class="kb-contentbox-head">
  recent events
</div>
<div class="kb-contentbox">
  <div id="kb-recent-events">
  {% comment %}
  {% for drink in latest_drinks %}
    {% include "kegweb/drink-box.html" %}
  {% endfor %}
  {% endcomment %}
  </div>
</div>

{% endblock col-2 %}
