{% extends "page-twocol.html" %}
{% load kegweblib %}

{% block title %}main page{% endblock %}

{% block col-1 %}
  <h1>on tap</h1>
  {% for tap in taps %}
    {% if tap.current_keg %}
      {% with tap.current_keg as keg %}
        {% include "kegweb/keg-snapshot.html" %}
      {% endwith %}
    {% endif %}
  {% endfor %}
{% endblock col-1 %}

{% block col-2 %}
  <h1>recent pours</h1>
  <div id="kb-recent-pours">
  {% latest_drinks 5 as drinks %}
  {% for drink in drinks %}
    {% include "kegweb/drink-box.html" %}
  {% endfor %}
  </div>
{% endblock col-2 %}
