{% extends "base.html" %}
{% load kegweblib %}

{% block title %}main page{% endblock %}

{% block content %}
<div class="contenthead">
   last five drinks
</div>
<div class="content">
{% if last_drinks %}
   <p>
   <div align="center">
   <table border="0" cellspacing="1" cellpadding="1">
   <tr>
   <td>&nbsp;</td>
   {% for drink in last_drinks %}
      <td>
         <center>
         {% mugshot_box drink.user 64 %}
         </center>
      </td>
   {% endfor %}
   </tr>
   </table>
   </div>
   </p>

   <p>
   <div class="box">
   <table class="sortable" id="recent_drinks" cellspacing=0 border=0 width="100%">
   <tr>
      <td>&nbsp;</td>
      <td align="left"><b>size</b></td>
      <td align="right"><b>calories</b></td>
      <td><b>user</b></td>
      <td><b>when</b></td>
      <td><b>bac</b></td>
   </tr>
   {% for drink in last_drinks %}
      {% drink_span drink %}
   {% endfor %}
   </table>
   </div>
   </p>

{% else %}
   <p>
   virgin kegbot; no drinks yet recorded! this is indeed a very special time...
   </p>
{% endif %}
</div>

{% if taps %}
<div class="contenthead">
  on tap
</div>
<div class="content">
{% for tap in taps %}

  <table border="0">
  <tr>
  <td>
    <b>{{ tap.name }}</b><br>
    {% if tap.current_keg %}
      <a href="{% url kegweb.kegweb.views.keg_detail tap.current_keg.id %}">keg
      {{ tap.current_keg.id }}</a> ({{tap.current_keg.size.name}})<br>
      {% if tap.current_keg.type %}
        {{tap.current_keg.type.name}}<br>
        {{tap.current_keg.type.brewer.name}}
      {% endif %}
    {% endif %}
  </td>
  <td>
  {% keg_volume_chart tap.current_keg as vol_url %}
  <div style="float:left;"><img src="{{ vol_url }}"></div>
  {% if tap.temperature_sensor %}
    {% sensor_chart tap.temperature_sensor.nice_name as thermo1_url %}
    <div style="float:left;"><img src="{{ thermo1_url }}"></div>
  {% endif %}
  </td>
  </tr>
  </table>
  <br>
{% endfor %}
</div>

{% endif %}

{% endblock %}

