{% extends "setup_wizard/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="jumbotron">

<h2>Kegbot Setup: Create or Import System</h2>
<p class="lead">
  Are we starting from scratch or importing an existing site?
</>
</div>

{% if checkin and checkin.update_availabe %}
<div class="alert alert-info">
  <p>
  <em>Update Available:</em> A newer version of Kegbot Server
  {% if checkin.update_title %}({{ checkin.update_title }}){% endif %}
  is available.
  </p>
  {% if checkin.update_url %}
  <p>
  See <a href="{{checkin.update_url}}">here</a> for more information.
  </p>
  {% endif %}
</div>
{% endif %}

<div class="row-fluid">
  <div class="span12">
    {% crispy form %}
  </div>
</div>

{% endblock content %}
