{% extends "setup_wizard/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="jumbotron">

<h2>Kegbot Setup: Welcome</h2>
<p class="lead">
  {% if need_upgrade %}
  Before you continue, please click below to upgrade your database.
  {% elif need_install %}
  Before you continue, please click below to perform database setup.
  {% else %}
  Please click below to continue with setup.
  {% endif %}
</p>

<div class="row-fluid">
  <div class="span8 offset2">
    <form action="" method="POST">{% csrf_token %}

      <p>
        <input type="submit" name="db"
          value="{% if need_install %}Install Database{% elif need_upgrade %}Upgrade Database{% else %}Continue{% endif %}"
            class="btn btn-primary btn-success btn-block" id="submit-id-db">
      </p>

    </form>
  </div>
</div>
</div>

{% endblock content %}
