{% load kegweblib %}
{% extends "base.html" %}

{% block title %}keg {{ keg.id }}{% endblock %}

{% block content %}
<div class="contenthead">
   keg {{keg.id}} details
</div>

<div class="content">
   <p>
   <table cellspacing=3 border=0 width="430">
      <tr>
         <td align="right" valign="top"><b>name:</b></td>
         <td>
            {{ keg }}
            </td>
         <td rowspan="6" align="right">
            <img src="/site_media/images/keg.png" width="77" height="100">
         </td>
      </tr>
      <tr>
         <td align="right"><b>beer info:</b></td>
         <td>
            TODO
            &nbsp;
         </td>
      </tr>
      <tr>
         <td align="right"><b>status:</b></td>
         <td>{{ keg.status }}</td>
      </tr>
      <tr>
         <td align="right"><b>keg size:</b></td>
         <td>{{ keg.full_volume|vol_to_ounces|floatformat}} oz</td>
      </tr>
      <tr>
         <td align="right"><b>activated:</b></td>
         <td>{{ keg.startdate }}</td>
      </tr>
      {% if last_pour %}
      <tr>
         <td align="right"><b>last pour:</b></td>
         <td>{{ last_pour }}</td>
      </tr>
      {% endif %}
      <tr>
         <td align="right"><b>served:</b></td>
         <td>
            {{ keg.volserved|vol_to_ounces|floatformat }}
            ({{ keg.pctremain|floatformat}}% remain)
         </td>
      </tr>
      {% if keg.descr %}
      <tr>
         <td valign="top" align="right"><b>description:</b></td>
         <td align="left" valign="top">
         {{ keg.descr }}
         </td>
      </tr>
      {% endif %}
   </table>
   </p>

   {% if prev_keg %}
   <div style="float:left">
      <a href="/kegs/{{ prev_keg.0.id }}">&laquo; prev keg</a>
   </div>
   {% endif %}

   {% if next_keg %}
   <div style="float:right">
      <a href="/kegs/{{ next_keg.0.id }}">next keg &raquo;</a>
   </div>
   {% endif %}

   <br clear="all">
</div>

<div class="contenthead">
   drinking groups
</div>
<div class="content">
   <p>
   {% for group in drinking_groups %}
   <div class="box">
      {{ group.start }}
      {% for drinker in group.drinkers %}
      <div style="text-align:center; float:left; padding:5px;">
         {% mugshot_box drinker 48 %}<br>
         {{ drinker.username }}
      </div>
      {% endfor %}
      <div style="text-align:center; vertical-align:middle; float:right;">
         <font size="+5"><b>{{ group.totalvol|vol_to_ounces|ounces_to_bottles|floatformat }}</b></font><br>
         bottles
      </div>
      <br clear="all">
   </div>
   {% endfor %}
   </p>
   <div class="spacer">&nbsp;</div>
</div>

<div class="contenthead">
   full drink history
</div>
<div class="content">
   <p>
      full drink history for keg shown below.
   </p>
   <p>
   <div class="box">
   <table class="sortable" id="all_drinks" cellspacing=0 border=0 width="430">
   <tr>
      <td>&nbsp;</td>
      <td align="left"><b>size</b></td>
      <td align="right"><b>calories</b></td>
      <td><b>user</b></td>
      <td><b>when</b></td>
      <td><b>bac</b></td>
   </tr>
   {% for drink in drinks %}
      {% drink_span drink %}
   {% endfor %}
   </table>
   </div>
   </p>
</div>

<div class="contenthead">
   leaders of keg {{ keg.id }}
</div>
<div class="content">
   <p>
   TODO
   </p>
</div>


{% endblock %}
