{% extends "page-twocol.html" %}
{% load kegweblib %}
{% if USE_FACEBOOK %}{% load facebook_tags %}{% endif %}

{% block title %}your account: {{user.username}}{% endblock %}

{% block col-1 %}
<div class="kb-contentbox-head">
  hello, {{user.username}}
</div>
<div class="kb-contentbox">
  <form action="/account/update_profile/" method="POST">
    <table class="kb-form">
      {{ profile_form.as_table }}
      <tr>
        <td colspan="2">
          <input type="submit" value="update profile" />
        </td>
      </tr>
    </table>
  </form>
</div>
{% endblock col-1 %}

{% block col-2 %}
<div class="kb-contentbox-head">
  your mugshot
</div>
<div class="kb-contentbox">
  <form enctype="multipart/form-data" method="post" action="/account/update_mugshots/">
    <table class="kb-form">
      <tr>
        <td>
          {% mugshot_box user %}
        </td>
      </tr>
      <tr>
        <td>
          {{mugshot_form.new_mugshot}}
        </td>
      </tr>
      <tr>
        <td valign="top">
          <input type="submit" value="update mugshot" />
        </td>
      </tr>
    </table>
  </form>
</div>

{% endblock col-2 %}


{% block extra-content %}

{% if USE_FACEBOOK %}
<div class="kb-main-content">

  <div class="kb-contentbox-head">
    facebook settings
  </div>
  <div class="kb-contentbox">
    Please visit the <a href="{% url fb-account-settings%}">Facebook settings
    page</a> to configure Facebook integration.
  </div>

</div>
{% endif %}

{% endblock %}
