{% extends "page-twocol.html" %}
{% load kegweblib %}

{% block title %}drinker details for {{ drinker.username }}{% endblock %}

{% block pagetitle %}
  drinker overview: {{ drinker.username }}
{% endblock %}

{% block sidebar %}
  <div class="well">
    {% mugshot_box drinker %}
  </div>
{% endblock %}

{% block col-1 %}
<div class="row">
  <div class="span9">
    <h2>Summary</h2>
    <table class="condensed-table">
       <tr>
         <th>Total Sessions</td>
         <td>{{ sessions|length }}</td>
       </tr>

       <tr>
          <th>Total Drinks</th>
          <td>{{ drinks.count }}</td>
       </tr>

       {% if drinks.count %}
       <tr>
          <th>Last Drink</th>
          <td>
            {{ drinks.0.starttime|date:"l, F j, Y" }}<br>
            <i>({% timeago drinks.0.starttime%})</i>
          </td>
       </tr>
       {% endif %}

       <tr>
          <th>Total Volume</th>
          <td> {% volume stats.total_volume_ml %}</td>
       </tr>

    </table>
  </div> <!-- span9 -->
</div> <!-- row -->

<div class="row">
  <div class="span9">
  <h2>All Sessions</h2>
    {% for chunk in sessions %}
      {% with chunk.session as session %}
        {% include "kegweb/keg-session.html" %}
      {% endwith %}
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block col-2 %}
<div class="row">
  <div class="span5">
    <h2>Drinker Stats</h2>
    <div class="kb-contentbox">
      <p>
        <b>total pints, by day of week</b><br>
        {% chart sessions_weekday drinker 350 100 %}
      </p>

      <p>
        <b>all sessions, by pints per session</b><br>
        {% chart sessions_volume sessions 350 100 %}
      </p>
    </div>
  </div> <!-- span5 -->
</div>
{% endblock %}
