{% extends "page-twocol.html" %}
{% load kegweblib %}

{% block title %}drink {{ drink.id }} by {{ drink.user.username }}{% endblock %}

{% block col-1 %}

<div class="kb-contentbox-head">
   drink {{ drink.id }} by {{ drink.user.username }}
</div>
<div class="kb-contentbox">
   <table class="kb-statstable">
      <tr>
         <th>Drink Size</th>
         <td>{{ drink.Volume.ConvertTo.Ounce|floatformat:2 }} ounces</td>
      </tr>
      <tr>
         <th>Pour Start</th>
         <td>{{ drink.starttime }}</td>
      </tr>
      <tr>
         <th>Pour End</th>
         <td>{{ drink.endtime }}</td>
      </tr>
      <tr>
         <th>Keg</th>
         <td>
          <a href="{% url keg drink.keg.id %}">{{drink.keg.type.name}}</a>
        </td>
      </tr>

   </table>
</div>

{% endblock %}

{% block col-2 %}
<div class="kb-contentbox-head">
  this session
</div>
<div class="kb-contentbox">
  {% with drink.GetSession as session %}
  <table class="kb-statstable">
  <tr>
    <th>Drinkers</th>
    <td>{{session.users.count}}</td>
  </tr>
  <tr>
    <th>Volume</th>
    <td>{{session.Volume.ConvertTo.Pint|floatformat:1}} pints</td>
  </tr>
  </table>
  {% endwith %}
</div>

{% endblock %}
