{% extends "page-twocol.html" %}
{% load kegweblib %}

{% block title %}drink {{ drink.seqn }} by {{ drink.user.username }}{% endblock %}
{% block pagetitle %}drink {{ drink.seqn }} by {{ drink.user.username }}{% endblock %}

{% if drink.user %}
{% block sidebar %}
  <div class="well">
    {% mugshot_box drink.user %}
  </div>
{% endblock %}
{% endif %}

{% block col-1 %}
<div class="row">
  <div class="span9">
    <h2>Summary</h2>
    <table class="condensed-table">
    <tbody>
      <tr>
        <th>Size</th>
        <td>{% volume drink.volume_ml %}</td>
      </tr>

      <tr>
        <th>When</th>
        <td>
           {% timeago drink.starttime %}
           (took {{drink.PourDuration.seconds}} second{{drink.PourDuration.seconds|pluralize}} to pour)
        </td>
      </tr>

      {% if drink.keg %}
      <tr>
        <th>Keg</th>
        <td>
          <a href="{% url kb-keg kbsite.url drink.keg.seqn %}">{{drink.keg.type.name}}</a>
        </td>
      </tr>
      {% endif %}

      </tbody>
    </table>
  </div>
</div>

{% endblock %}

{% block col-2 %}
<div class="row">
  <div class="span5">
    <h2>Session</h2>
    {% with drink.GetSession as session %}
    <table class="condensed-tabled">
      <tbody>
        <tr>
          <th>Drinkers</th>
          <td>{{session.users.count}}</td>
        </tr>
        <tr>
          <th>Volume</th>
          <td>{% volume session.volume_ml %}</td>
        </tr>
      </tbody>
    </table>
    {% endwith %}
  </div>
</div>
{% endblock %}

{% block extra-content %}
{% with drink.pictures.all as pictures %}
{% if pictures.count %}
<div class="row">
  <div class="span14">
    <h2>Beer Goggles!</h2>
    {% include "kegweb/picture-gallery.html" %}
  </div>
</div>
{% endif %}
{% endwith %}
{% endblock %}
