{% spaceless %}
<div style="width:{{boxsize}}; height:{{boxsize}};{{extra}}">
  {% if user %}
    {% with user.get_profile as profile %}
      <a href="{% url kb-drinker kbsite.url user.username %}">
        <img border="0" width="{{boxsize}}" height="{{boxsize}}"
        {% if profile.mugshot %}
          src="{{ profile.mugshot.thumbnail.url }}"
        {% else %}
          src="{{STATIC_URL}}images/unknown-drinker.png"
        {% endif %}
        />
      </a>
    {% endwith %}
  {% else %}
    <img border="0" width="{{boxsize}}" height="{{boxsize}}"
      src="{{STATIC_URL}}images/unknown-drinker.png" />
  {% endif %}
  </a>
</div>
{% endspaceless %}
