{% extends "page-twocol.html" %}
{% load kegweblib %}

{% block title %}all-time system stats{% endblock %}

{% block col-1 %}
<div class="kb-contentbox-head">
  all-time stats
</div>
<div class="kb-contentbox">
  <p>
  <table border="0" class="kb-statstable">
    <tr>
      <td align="right"><b>Total Drinks</b></td>
      <td>
        a total of
        <b>{{ stats.total_pours }} pour{{ stats.total_pours|pluralize }}</b>
        have been recorded.
      </td>
    </tr>
    <tr>
      <td align="right"><b>Average Pour</b></td>
      <td>
        the average pour size is
        <b>{% volume stats.average_volume_ml %}</b>
      </td>
    </tr>
  </table>
  </p>
</div>
{% endblock col-1 %}

{% block col-2 %}
<div class="kb-contentbox-head">
   top drinkers
</div>
<div class="kb-contentbox">
  <table>
    <tr>
      <td valign="top">
        {% for volume_ml,user in top_drinkers %}
          {% include "kegweb/volume-user.html" %}
        {% endfor %}
      </td>
    </tr>
  </table>
</div>
{% endblock col-2 %}
