{% extends "page-twocol.html" %}
{% load kegweblib %}

{% block title %}all-time system stats{% endblock %}
{% block pagetitle %}all-time system stats{% endblock %}

{% block col-1 %}
<h2>Summary</h2>
<table border="0" class="condensed-table">
  <tbody>
    <tr>
      <th>Total Drinkers</th>
      <td>
        This Kegbot has served at least
        <b>{{ stats.volume_by_drinker|length }}</b> unique drinkers.
      </td>
    </tr>
    <tr>
      <th>Total Drinks</th>
      <td>
        A total of
        <b>{{ stats.total_pours }} pour{{ stats.total_pours|pluralize }}</b>
        have been recorded.
      </td>
    </tr>
    <tr>
      <th>Average Pour</th>
      <td>
        The average pour size is
        <b>{% volume stats.average_volume_ml %}</b>.
      </td>
    </tr>
  </tbody>
</table>
{% endblock col-1 %}

{% block col-2 %}
<div class="row">
  <div class="span5">
    <h2>Top Drinkers</h2>
    {% with top_drinkers as ranked_drinkers %}
      {% include "kegweb/drinker-rank.html" %}
    {% endwith %}
  </div>
</div>
{% endblock col-2 %}
