{% load kegweblib %}
{% load humanize %}

{% if event.kind == 'drink_poured' %}
{% with event.drink as drink %}
<div class="row">
  <div class="span1">
    {% mugshot_box event.user 48 %}
  </div>
  <div class="span6">
    <div style="vertical-align: bottom;">
      <span>
        <strong>{% drinker_name event.user %}</strong> poured
        {% volume drink.volume_ml badge %}
        of {{ drink.keg.type.name }}
      </span>
      <span class="muted pull-right">
        <a href="{{ drink.get_absolute_url }}">{% timeago event.time %}</a>
      </span>
    </div>
    {% with drink.picture as pic %}
    {% if pic %}
      <p></p>
      <a class="gallery-image" rel="gallery-{{ gallery_id }}"
          href="{{ pic.resized.url }}"
          title="{% drinker_name event.user nolink %} pouring drink {{ event.drink.id }}">
        <img class="lazy" data-original="{{ pic.resized.url }}" width="1024" height="1024"/>
        <noscript><img src="{{ pic.resized.url }}" width="1024" height="1024"/></noscript>
      </a>
    {% endif %}
    {% endwith %}
    {% if drink.shout %}
      {% include 'kegweb/includes/drink_shout.html' %}
    {% endif %}
    <hr/>
  </div>
</div>
{% endwith %}

{% elif event.kind == 'session_joined' %}
<div class="row">
  <div class="span6 offset1">
    <span>
      {% drinker_name event.user %} started drinking 
    </span>
    <span class="muted pull-right">
      {% timeago event.time %}
    </span>
    <hr/>
  </div>
</div>

{% elif event.kind == 'keg_tapped' %}
<div class="row">
  <div class="span6 offset1">
    <span>
      <a href="{{ event.keg.get_absolute_url }}">Keg {{ event.keg.id }} ({{ event.keg.type.name }})</a> was tapped.
    </span>
    <span class="muted pull-right">
      {% timeago event.time %}
    </span>
    <hr/>
  </div>
</div>

{% elif event.kind == 'keg_ended' %}
<div class="row">
  <div class="span6 offset1">
    <span>
      <a href="{{ event.keg.get_absolute_url }}">Keg {{ event.keg.id }} ({{ event.keg.type.name }})</a> was finished.
    </span>
    <span class="muted pull-right">
      {% timeago event.time %}
    </span>
    <hr/>
  </div>
</div>
{% endif %}

<p/>