{% extends "base.html" %}
{% load kegweblib %}

{% block title %}keg {{ keg.id }}{% endblock %}

{% block content %}
<div class="contenthead">
   account
</div>
<div class="content">

  {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}

  <form action='.' method='post'>
    <label for="username">User name:</label>
    <input type="text" name="username" value="" id="username">
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password">

    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next|escape }}" />
  </form>
  </p>
  <br>
  <!-- did you <a href="/accounts/password/reset/">forget your password?</a> -->
</div>

{% endblock %}
