{% extends "page-twocol.html" %}
{% load kegweblib %}

{% block title %}keg {{ keg.id }}{% endblock %}

{% block kb-extrajs %}
   {% if USE_FACEBOOK %}
   {% load facebook_tags %}
   {% facebook_js %}
   {% endif %}
{% endblock %}

{% block col-1 %}
<div class="kb-contentbox-head">
   account
</div>
<div class="kb-contentbox">

  <form action="" method="POST">

    <table class="kb-form">
    {{ form.as_table }}
    <tr>
      <td colspan="2">
        <input type="submit" value="login" />
      </td>
    </tr>
    </table>

  </form>

  <!-- did you <a href="/accounts/password/reset/">forget your password?</a> -->
</div>

{% endblock col-1 %}

{% block col-2 %}

{% if USE_FACEBOOK %}
<div class="kb-contentbox-head">
  or...
</div>
<div class="kb-contentbox">
  {% facebook_button %}
</div>
{% endif %}

{% endblock %}
