{% extends "base.html" %}
{% load kegweblib %}

{% block title %}main page{% endblock %}

{% block content %}
<div class="contenthead">
   register
</div>
<div class="content">
{{ form.errors }}
{% if form.username.errors %}
{{ form.username.errors }} (username)
{% endif %}
{% if form.password1.errors %}
{{ form.password1.errors }} (username)
{% endif %}
<p>
<form method="POST" action="/accounts/register/">
username: <input type="text" name="username" size="30"><br>
password: <input type="password" name="password1" size="30"><br>
password again: <input type="password" name="password2" size="30"><br>
email: <input type="text" name="email" size="30"><br>
gender:
<select name="gender">
<option>male
<option>female
</select>
<br>
approx weight:<select name="weight">
<option value="100">less than 100</option>
<option value="120">100-130</option>
<option value="150" selected>131-170</option>
<option value="180">171+</option>
</select>
<br>
<input type="submit">
</form>

</p>
</div>

{% endblock %}
