{% extends "base.html" %}
{% load kegweblib %}

{% block content %}
{% if DEBUG %}
<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Warning!</strong> Kegbot Server is running in debug mode.  For
  performance and security reasons, you should set <code>DEBUG = False</code>
  in <code>local_settings.py</code>.
</div>
{% endif %}

<div class="row">
  <div class="span2">
    <ul class="nav nav-pills nav-stacked" data-pills="pills">
      {% include "kegadmin/nav-items.html" %}
    </ul>
  </div>

  <div class="span8">
    {% block kegadmin-main %}{% endblock %}
  </div>
</div>

{% endblock %}
