{% extends "kegadmin/base.html" %}
{% load kegweblib %}
{% load crispy_forms_tags %}

{% block title %}Kegbot Admin: Connections | {{ block.super }}{% endblock %}
{% block pagetitle %}Kegbot Admin: Connections{% endblock %}

{% block kegadmin-main %}
<div class="row">
  <div class="span11">
    <h2>Foursquare</h2>
    <div class="well">
      <h4>Site Foursquare Settings</h4>
      <form action="" method="POST">
      {% csrf_token %}
      {{ foursquare_settings_form|crispy }}
      <p>
        <button type="submit" class="btn btn-success small"
            name="foursquare-settings-submit">
          <i class="icon-ok icon-white"></i> Update</button>
      </p>
      </form>
    </div> <!-- /well -->
  </div> <!-- /span11 -->
</div>
{% endblock %}
