{% extends "kegadmin/base.html" %}
{% load kegweblib %}
{% load crispy_forms_tags %}

{% block title %}Kegbot Admin: Edit Keg | {{ block.super }}{% endblock %}
{% block pagetitle %}Kegbot Admin: Edit Keg {% endblock %}

{% block kegadmin-main %}

<h2>Edit Keg #{{keg.id}}: {{keg.type.name}}</h2>
<table class="table table-striped table-bordered">
<tbody>
    <tr>
        <th>Start Time</th>
        <td>{{keg.start_time}}</td>
    </tr>
    <tr>
        <th>End Time</th>
        <td>
        {% if keg.online %}
            Online
        {% else %}
            {{ keg.end_time }}
        {% endif %}
        </td>
    </tr>
    <tr>
        <th>Online</th>
        <td>
        {{ keg.online }}
        </td>
    </tr>
    <tr>
        <th>Finished</th>
        <td>{{keg.finished}}</td>
    </tr>
    <tr>
        <th>Type</th>
        <td>{{keg.keg_type}}</td>
    </tr>
    <tr>
        <th>Initial Volume (mL)</th>
        <td>{{keg.full_volume_ml}}</td>
    </tr>
    <tr>
        <th>Served Volume (mL)</th>
        <td>{{keg.served_volume_ml}}</td>
    </tr>
</table>
    
{% crispy form %}

{% endblock %}
