{% extends "kegadmin/base.html" %}
{% load kegweblib %}
{% load crispy_forms_tags %}

{% block title %}Kegbot Admin: Edit Keg | {{ block.super }}{% endblock %}
{% block pagetitle %}Kegbot Admin: Edit Keg {% endblock %}

{% block kegadmin-main %}

<h2>Edit Keg #{{keg.id}}: {{keg.type.name}}
{% include 'kegadmin/includes/keg-status-label.html' %}
</h2>
<table class="table table-striped table-bordered">
<tbody>
    {% if keg.online or keg.finished %}
        <tr>
            <th>Start Time</th>
            <td>{{keg.start_time}}</td>
        </tr>
    {% endif %}
    {% if not keg.online and keg.finished %}
        <tr>
            <th>End Time</th>
            <td>{{keg.end_time}}</td>
        </tr>
    {% endif %}
    <tr>
        <th>Size</th>
        <td>{{ keg.keg_type_description }}</td>
    </tr>
    <tr>
        <th>Initial Volume</th>
        <td>{% volume keg.full_volume_ml %}</td>
    </tr>
    <tr>
        <th>Served Volume</th>
        <td>{% volume keg.served_volume_ml %}</td>
    </tr>
    <tr>
        <th>Remaining Volume</th>
        <td>{% volume remaining %}</td>
    </tr>
</table>
    
{% crispy form %}

{% endblock %}

{% block kb-extrajs %}
<script type="text/javascript">
$(document).ready(function () {
    var volume_ml = $('.input-volume').val();

  $('.variable-units').append('<div class="control-group"> \
    <label for="id_converted" class="control-label requiredField"> \
    Spilled Volume<span class="asteriskField">*</span></label> \
    <div class="controls"> \
    <input class="numberinput" type="number" step="0.01" id="id_converted" value='+volume_ml+'> \
    <select id="units-input" class="span2"> \
    <option value="milliliters">Milliliters</option> \
    <option value="ounces">Ounces</option> \
    <option value="liters">Liters</option> \
    <option value="gallons">Gallons</option> \
    </select><p class="help-block">Total amount of spilled liquid \
    for this keg</p></div></div>');

  var units = $('#units-input').val();

  $('#id_converted').change(function() {
      user_input = $(this).val();
      if ($('#units-input').val()=='milliliters') {
        var volume_ml = user_input;
      } else if ($('#units-input').val()=='ounces') {
        var volume_ml = user_input * 29.5735;
      } else if ($('#units-input').val()=='liters') {
        var volume_ml = user_input * 1000;
      } else if ($('#units-input').val()=='gallons') {
        var volume_ml = user_input * 3785.41;
      }
      $('.input-volume').val(volume_ml);
    })

  $('#units-input').change(function () {
    var choice = $(this).val();
    var volume_ml = $('.input-volume').val();
    if (choice == 'milliliters') {
        $('.input-volume').val(volume_ml);
        $('#id_converted').val(volume_ml);
      } else if (choice == 'ounces') {
        var updated_volume = volume_ml / 29.5735;
        $('.input-volume').val(volume_ml);
        $('#id_converted').val(updated_volume);
      } else if (choice == 'liters') {
        var updated_volume = volume_ml / 1000;
        $('.input-volume').val(volume_ml);
        $('#id_converted').val(updated_volume);
      } else if (choice == 'gallons') {
        var updated_volume = volume_ml / 3785.41;
        $('.input-volume').val(volume_ml);
        $('#id_converted').val(updated_volume);
      }
  })

});
</script>
{% endblock %}
