{% load kegweblib %}

<div class="panel panel-default">
  <div class="panel-heading">Kegbot Admin</div>
  <div class="panel-body list-group" style="padding:0;">
    {% subnavitem "kegadmin-dashboard" "Dashboard" exact %}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">General</div>
  <div class="panel-body list-group" style="padding:0;">
    {% subnavitem "kegadmin-main" "General Settings" %}
    {% subnavitem "kegadmin-logs" "Logs" %}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">System</div>
  <div class="panel-body list-group" style="padding:0;">
    {% subnavitem "kegadmin-taps" "Taps" %}
    {% subnavitem "kegadmin-kegs" "Kegs" %}
    {% subnavitem "kegadmin-drinks" "Drinks" %}
    {% subnavitem "kegadmin-users" "Users" %}
    {% subnavitem "kegadmin-tokens" "Tokens" %}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Beer DB</div>
  <div class="panel-body list-group" style="padding:0;">
    {% subnavitem "kegadmin-beverage-producers" "Brewers" %}
    {% subnavitem "kegadmin-beverages" "Beer Types" %}
  </div>
</div>

{% if PLUGINS %}
<div class="panel panel-default">
  <div class="panel-heading">Plugins</div>
  <div class="panel-body list-group" style="padding:0;">
    {% for plugin in PLUGINS.values %}
    {% url "kegadmin-plugin-settings" plugin_name=plugin.get_short_name as settings_url %}
    {% subnavitem settings_url plugin.get_name %}
    {% endfor %}
  </div>
</div>
{% endif %}

<div class="panel panel-default">
  <div class="panel-heading">Other</div>
  <div class="panel-body list-group" style="padding:0;">
    {% if HAVE_ADMIN %}
    <a class="list-group-item" href='{% url "admin:index" %}' target="_blank">Database Admin &raquo;</a>
    {% endif %}
    <a class="list-group-item" href='https://github.com/Kegbot/kegbot/issues' target="_blank">Report a Bug &raquo;</a>
  </div>
</div>
