{% extends "kegadmin/base.html" %}
{% load kegweblib %}
{% load crispy_forms_tags %}

{% block title %}Kegbot Admin: Edit Tap: {{ tap.name }} | {{ block.super }}{% endblock %}
{% block pagetitle %}Kegbot Admin: Edit Tap: {{ tap.name }}{% endblock %}

{% block kegadmin-main %}
<ul class="nav nav-tabs" id="tapDetails">
    {% if not current_keg %}
    <li><a href="#1" data-toggle="tab">Create New Keg</a></li>
      {% if available_kegs %}
      <li><a href="#2" data-toggle="tab">Attach Untapped Keg</a></li>
      {% endif %}
    {% else %}
    <li><a href="#3" data-toggle="tab">Current Keg</a></li>
    <li><a href="#4" data-toggle="tab">Add Drink</a></li>
    <li><a href="#5" data-toggle="tab">Add Spill</a></li>
    {% endif %}
    <li><a href="#6" data-toggle="tab">Tap Settings</a></li>
    <li><a href="#7" data-toggle="tab">Delete Tap</a></li>
</ul>

<div class="tab-content">
  {% if not current_keg %}
  <div class="tab-pane" id="1">
    {% crispy activate_keg_form %}
  </div>

  {% if available_kegs %}
  <div class="tab-pane" id="2">
    <form action="" class="user-select" method="POST">{% csrf_token %}
      <input type="hidden" name="tap_id" value="{{tap.id}}">
      <select name="keg_id" class="span6">
        {% for keg in available_kegs %}
          <option value="{{keg.id}}">{{keg}}</option>
        {% endfor %}
      </select>
      <button class="btn btn-primary" style="margin-top:-10px;" name="submit_keg_choice" type="submit">
        Activate Keg
      </button>
    </form>
  </div>
  {% endif %}

  {% else %}
  <div class="tab-pane" id="3">
    <table class="table table-striped table-hover">
    <tr>
      <th>Keg</th>
      <td><a href="{% url 'kegadmin-edit-keg' current_keg.id %}">{{ current_keg }}</a></td>
    </tr>
    <tr>
      <th>Tapped</th>
      <td>{{ current_keg.start_time }}</td>
    </tr>
    <tr>
      <th>Volume</th>
      <td>{% volume current_keg.remaining_volume_ml %} remaining ({{ current_keg.percent_full|floatformat:2 }}% full)</td>
    </tr>
    </table>
    {% crispy end_keg_form %}
  </div>

  <div class="tab-pane" id="4">
    <div class="alert alert-info">
      Manually record a drink using the form below.
      You may leave the <em>username</em> field blank to
      add an anonymous pour.
    </div>

    <form action="" class="user-select" method="POST">{% csrf_token %}
    <div class="input-prepend input-append">
    {% if metric_volumes %}
      <input type="hidden" name="units" value="mL">
      <input class="span4" type="text" name="volume" placeholder="123">
      <span class="add-on">mL</span>
    {% else %}
      <input type="hidden" name="units" value="oz">
      <input class="span4" type="text" name="volume" placeholder="1.23">
      <span class="add-on">oz</span>
    {% endif %}
      <input class="span4" type="text" name="username" placeholder="username">
    <button class="btn btn-info" name="submit_record_drink" type="submit">
      <i class="icon-plus-sign icon-white"></i> Record
    </button>
    </div>
    </form>
  </div>

  <div class="tab-pane" id="5">
    <div class="alert alert-info">
      Manually record a spill using the form below. Spills are
      <em>not</em> attributed to any user and are <em>not</em> saved as an event.
      You may also update the keg's total spilled volume on the
      <a href="{% url 'kegadmin-edit-keg' current_keg.id %}">keg admin page</a>.
    </div>

    <form action="" class="user-select" method="POST">{% csrf_token %}
    <div class="input-prepend input-append">
    {% if metric_volumes %}
      <input type="hidden" name="units" value="mL">
      <input class="span4" type="text" name="volume" placeholder="123">
      <span class="add-on">mL</span>
    {% else %}
      <input type="hidden" name="units" value="oz">
      <input class="span4" type="text" name="volume" placeholder="1.23">
      <span class="add-on">oz</span>
    {% endif %}
    <button class="btn btn-info" name="submit_record_spill" type="submit">
      <i class="icon-plus-sign icon-white"></i> Record
    </button>
    </div>
    </form>
  </div>
  {% endif %}

  <div class="tab-pane" id="6">
  {% crispy tap_settings_form %}
  </div>

  <div class="tab-pane" id="7">
    <div class="alert alert-danger">
      If you delete a tap with a keg currently attached, the keg
      will be taken offline and marked as finished.
    </div>
    {% crispy delete_tap_form %}
  </div>
</div>

{% endblock %}

{% block kb-extrajs %}
<script type="text/javascript">
$(document).ready(function () {
  $('#tapDetails a:first').tab('show');

  var volume_ml = $('.input-volume').val();

  $('.variable-units').append('<div class="control-group"> \
    <label for="id_converted" class="control-label requiredField"> \
    Initial Volume<span class="asteriskField">*</span></label> \
    <div class="controls"> \
    <input class="numberinput" type="number" step="0.01" id="id_converted" value='+volume_ml+'> \
    <select id="units-input" class="span2"> \
    <option value="milliliters">Milliliters</option> \
    <option value="ounces">Ounces</option> \
    <option value="liters">Liters</option> \
    <option value="gallons">Gallons</option> \
    </select><p class="help-block">Initial volume \
    for this keg</p></div></div>');

  var units = $('#units-input').val();

  $('#id_converted').change(function() {
      user_input = $(this).val();
      if ($('#units-input').val()=='milliliters') {
        var volume_ml = user_input;
      } else if ($('#units-input').val()=='ounces') {
        var volume_ml = user_input * 29.5735;
      } else if ($('#units-input').val()=='liters') {
        var volume_ml = user_input * 1000;
      } else if ($('#units-input').val()=='gallons') {
        var volume_ml = user_input * 3785.41;
      }
      $('.input-volume').val(volume_ml);
    })

  $('#units-input').change(function () {
    var choice = $(this).val();
    var volume_ml = $('.input-volume').val();
    if (choice == 'milliliters') {
        $('.input-volume').val(volume_ml);
        $('#id_converted').val(volume_ml);
      } else if (choice == 'ounces') {
        var updated_volume = volume_ml / 29.5735;
        $('.input-volume').val(volume_ml);
        $('#id_converted').val(updated_volume);
      } else if (choice == 'liters') {
        var updated_volume = volume_ml / 1000;
        $('.input-volume').val(volume_ml);
        $('#id_converted').val(updated_volume);
      } else if (choice == 'gallons') {
        var updated_volume = volume_ml / 3785.41;
        $('.input-volume').val(volume_ml);
        $('#id_converted').val(updated_volume);
      }
  })

  $('.variable-units').hide();
    $('#id_keg_size').change(function () {
      var choice = $(this).val();
      if (choice == 'other') {
        $('.variable-units').show();
      } else {
        $('.variable-units').hide();
      }
  })

});
</script>
{% endblock %}
