# Local settings for kegbot.
# Edit settings, then copy this file to /etc/kegbot/common_settings.py or
# ~/.kegbot/common_settings.py

### Database configuration

# Database settings.  Edit so that one is named 'default'.
DATABASES = {
  # Example SQLite settings (rename to 'default' to use)
  'example_sqlite' : {
    'NAME' : '/usr/local/kegbot/kegbot.sqlite',
    'ENGINE' : 'django.db.backends.sqlite3',
  },

  # Example MYSQL settings (rename to 'default' to use)
  'example_mysql' : {
    'NAME' : 'kegbot',
    'ENGINE' : 'django.db.backends.mysql',
    'USER' : 'kegbot_user',
    'PASSWORD': 'kegbot_password',
  },
}

### Timezone and language

# Local time zone for this installation. All choices can be found here:
# http://www.postgresql.org/docs/8.1/static/datetime-keywords.html#DATETIME-TIMEZONE-SET-TABLE
TIME_ZONE = 'America/Los_Angeles'

# Language code for this installation. All choices can be found here:
# http://www.w3.org/TR/REC-html40/struct/dirlang.html#langcodes
# http://blogs.law.harvard.edu/tech/stories/storyReader$15
LANGUAGE_CODE = 'en-us'

SITE_ID = 1

### Media

# Absolute path to the directory where uploaded media (profile pictures, etc)
# should go.
MEDIA_ROOT = 'media/'

# URL of the directory above. The default is '/media/'. Note that the directory
# name given in MEDIA_ROOT does not affect this.
MEDIA_URL = '/media/'

### Other stuff

# Want to use Facebook Connect for registration/login? You will need to set
# these values up to the correct strings.
FACEBOOK_API_KEY = None
FACEBOOK_SECRET_KEY = None

# Make this unique, and don't share it with anybody.
SECRET_KEY = 'p7jep28p$+7kb8n=qr+1!i80&5d&!2q_lruhs-%rs(urq4)f*j'

DEBUG = True
TEMPLATE_DEBUG = DEBUG

ADMINS = (
    # ('Your Name', 'your_email@domain.com'),
)

TEMPLATE_DIRS = (
    '/path/to/kegbot/pykeg/templates',
)

MANAGERS = ADMINS

### django-storages
### Uncomment to use AWS as a backend for static/media files.
#AWS_ACCESS_KEY_ID = 'xxx'
#AWS_SECRET_ACCESS_KEY = 'yyy'
#AWS_STORAGE_BUCKET_NAME = 'kegbot'
#AWS_QUERYSTRING_AUTH = False
#AWS_S3_SECURE_URLS = False
#DEFAULT_FILE_STORAGE = 'storages.backends.s3boto.S3BotoStorage'
#STATICFILES_STORAGE = 'storages.backends.s3boto.S3BotoStorage'
