### kegbot_master config file

# This file lists applications to run as daemons.  They can be collectively
# started and stopped with kegbot_master.py.
#
# Each section defines an application to run; the name of the section is
# typically the name of the program, but does not have to be (see example use of
# _program_name below).
#
# Each value in the section gives a command line flag and value to use.  Values
# that begin with an underscore are special values that are only used by
# kegbot_master.  Current special values:
#   _pidfile_dir: the value of the kegbot_master flag --pidfile_dir
#   _logfile_dir: the value of the kegbot_master flag --logfile_dir
#   _enabled: indicates whether the app defined in this section should be
#             started
#
# Each section also has several default flags and values, which can be
# overridden on an app-by-app basis. Those flags are:
#   pidfile: the default value is `<pidfile dir>/<app_name>.pid`
#   daemon: the default value is True (and should not be changed)
#   log_to_stdout: the default value is False (and should not be changed)
#   log_to_file: the default value is True
#   logfile: the default value is `<logfile dir>/<app_name>.log`
#
# You can substitute values in your flag definitions. For example:
#   [myapp]
#   _program_name = whatever.py
#   logfile = /tmp/%(__name__)s.log
#
# In this example, the special value `__name__` is replaced with the name of the
# application section (myapp). The final command that executes would be:
#   whatever.py --logfile=/tmp/myapp.log [.. other defaults ..]
#
# You can run `kegbot_master.py configtest` to see what commands your config
# file would execute if `start` was called.


### Apps

[kegbot_core]
_enabled = True

[kegboard_daemon]
_enabled = True
kegboard_device = /dev/ttyUSB0

[lcd_daemon]
_enabled = False
lcd_device_path = /dev/ttyUSB1

[sound_server]
_enabled = True

[second_kegboard]
# Example showing a second instance of kegboard_daemon.
_enabled = False

# Normally, the section name is used to automatically generate the value of
# _program_name. However, we want to run kegboard_daemon twice, and we can't
# have two sections named '[kegboard_daemon]'.
#
# To get around this, we name this section whatever we want ([second_kegboard]),
# and manually specify the _program_name variable.
_program_name = kegboard_daemon.py

# Other kegboard_daemon flags.
kegboard_name = second_tap
kegboard_device = /dev/ttyUSB2

[fb_publisher]
_enabled = False
