{% load kegweblib %}
{% load humanize %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
   <link rel="stylesheet" href="/site_media/style.css" />
   <title>kegbot :: {% block title %}Default Page{% endblock %}</title>
</head>

<body>
   <div class="leadercol">
      {% block sidecol %}
      <div style="background:#003; font:12px Courier, sans-serif; text-align: center;color: #fff; border:1px solid #fff; border-top:0px;">
         leaders:<br>
         current keg
         {{ kegweb.users.all }}
      </div>

      {% for drinker in top_5 %}
      <div style="text-align:center;">
         {% mugshot_box drinker %}
         {{drinker.username}}
         {{drinker.VolumeByKeg}}
      </div>
      {% endfor %}
      {% endblock %}
   </div>

   <div class="mainheader">
      {% block header %}
      <p>
         <font size="+2" color="#ffffff">
            <b>kegbot beer device...</b> beer me!
         </font>
      </p>
      <div class="linkbar">
         <div style="padding-left:30px;">
            <a href="/">main</a> |
            <a href="/drinkers">drinkers</a> |
            <a href="/kegs">kegs</a> |
            <a href="/leaders">leader board</a> |
            <a href="/account">account</a>
         </div>
      </div>
      {% endblock %}
   </div>

   <div id="content">
      {% block content %}{% endblock %}
   </div>
</body>

