{% extends "skel.html" %}
{% load static humanize kegweblib %}

{% block title %}{% if kbsite.title %}{{ kbsite.title }}{% else %}Kegbot{% endif %}{% endblock %}

{% block css %}
{{ block.super }}
<style>
  body {
{% if kbsite %}{% if kbsite.background_image %}
    background-image: url({{kbsite.background_image.image.url}});
{% else %}
    background-image: url({% static "images/background.png" %});
{% endif %} {% endif %}
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
</style>

{% endblock css %}

{% block body %}
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        {% spaceless %}
        {% if kbsite %}
        <a class="brand" href="{% url "kb-home" %}">
        {% else %}
        <a class="brand" href="/">
        {% endif %}
        {{ kbsite.title }}
        </a>{% endspaceless %}

        <ul class="nav">
          {% if kbsite %}
          {% if HAVE_SESSIONS %}{% navitem "kb-sessions" "Sessions" %}{% endif %}
          {% navitem "kb-kegs" "Kegs" %}
          {% navitem "kb-stats" "Stats" %}
          {% if user.is_authenticated %}{% navitem "kb-account-main" "Account" %}{% endif %}
          {% if user.is_staff %}
          {% navitem "kegadmin-dashboard" "Admin" %}
          {% endif %}
          {% endif %}
        </ul>

        {% if not user.is_authenticated %}
        <ul class="nav pull-right">
          {% if kbsite.registration_mode == 'public' and not SSO_LOGIN_URL %}
          <li><a href="{% url "registration_register" %}"><i class="icon-edit icon-white"></i> New Drinker</a></li>
          {% endif %}
          {% if SSO_LOGIN_URL %}
          <li><a href="{{ SSO_LOGIN_URL }}"><i class="icon-user icon-white"></i> Log In</a></li>
          {% else %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user icon-white"></i> Sign In <b class="caret"></b></a>
            <ul class="dropdown-menu" style="padding: 15px;">
              <form action="/accounts/login/" method="POST">
                {% csrf_token %}
                {% with login_form as form %}
                  {% for hidden in form.hidden_fields %}
                  {{ hidden }}
                  {% endfor %}
                {% endwith %}
                <input class="span2" name="username" type="text" placeholder="Username" >
                <input class="span2" name="password" type="password" placeholder="Password">
                <button class="btn" type="submit">Log In <i class="icon-ok"></i></button>
              </form>
            </ul>
          </li>
          {% endif %}
        </ul>
        {% else %}
        <ul class="nav pull-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user icon-white"></i> {{ user.username}} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              {% if SSO_LOGOUT_URL %}
              <li><a href="{{ SSO_LOGOUT_URL }}">Logout</a></li>
              {% else %}
              <li><a href="{% url "auth_logout" %}">Logout</a></li>
              {% endif %}
            </ul>
          </li>
        </ul>
        {% endif %}

      </div>
    </div>
  </div> <!-- /.navbar -->

  <div class="container">
    {% block header-margin %}
    <div class="page-header">
      <h1>{% block pagetitle %}{% endblock %}</h1>
      {% block breadcrumbs %}{% endblock %}
      {% block messages %}
      {% for message in messages %}
        <div class="alert {% for tag in message.tags.split %}alert-{{tag}} {% endfor %}">
          <a class="close" data-dismiss="alert" href="#">×</a>
          <p>
            {{message}}
          </p>
        </div>
      {% endfor %}
      {% endblock messages %}
    </div>
    {% endblock %}

    <div id="content">
    {% block content %}{% endblock %}
    {% block extra-content %}{% endblock %}
    </div>

    <footer>
      <p class="muted">
        <small>
          Powered by
          <a href="http://kegbot.org/?utm_source=kbserver">Kegbot&trade;</a>{% if user.is_staff %}, version {{ VERSION }}{% endif %}
          &mdash;
          &copy; 2003-2014 <a href="http://bevbot.com/?utm_source=kbserver">Bevbot LLC</a>
          &mdash;
          Charts by <a href="http://highcharts.com/" target="_blank">Highcharts</a>
          <span id="page-settings"></span>
        </small>
      </p>
    </footer>
  </div> <!-- /container -->
{% endblock body %}
