{# Bare-bones skeletal template. #}
{% load kegweblib %}
{% load humanize %}
{% if USE_FACEBOOK %}{% load facebook %}{% endif %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>{% block title %}Kegbot{% endblock %}</title>

  {% block css %}
  <link rel="icon" type="image/png" href="{{ STATIC_URL}}images/kegbot-icon-72x72.png" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/kegweb.css" media="screen"/>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fancybox/jquery.fancybox.css" media="screen" />
  {% endblock %}

  {% block js %}
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load("jquery", "1");
    google.load("jqueryui", "1");
  </script>

  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
  <script src="{{ STATIC_URL }}angular/angular.min.js"></script>
  <script src="{{ STATIC_URL }}angular/angular-sanitize.min.js"></script>

  <script type="text/javascript" src="{{ STATIC_URL }}lib/underscore/underscore.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}lib/backbone/backbone.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}lib/mustache/mustache.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}lib/icanhaz/ICanHaz.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}lib/spin/spin.js"></script>

  <script type="text/javascript" src="{{ STATIC_URL }}js/kb.js"></script>

  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.timeago.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.autounits.js"></script>

  <script type="text/javascript" src="{{ STATIC_URL }}highcharts/js/highcharts.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}fancybox/jquery.fancybox.pack.js"></script>

  <script type="text/javascript">
      $(document).ready(function() {
        var labels, mapped;
        var beer_complete_url = "{% url "kegadmin-autocomplete-beer" %}";

        $('.beer-select').each(function() {
          var beer_name = $(this).find('input[name=beer_name]');
          var brewer_name = $(this).find('input[name=brewer_name]');
          var style_name = $(this).find('input[name=style_name]');
          var beer_id = $(this).find('input[name=beer_id]');
          var brewer_id = $(this).find('input[name=brewer_id]');
          var style_id = $(this).find('input[name=style_id]');

          beer_name.typeahead({
            source: function (query, process) {
              $.get(beer_complete_url, { q: query }, function (data) {
                labels = []
                mapped = {}

                $.each(data, function (i, item) {
                  var name = item.name + " (" + item.brewer_name + ")";
                  mapped[name] = item;
                  labels.push(name);
                })

                process(labels);
              })
            },
            updater: function (item) {
                brewer_name.val(mapped[item].brewer_name);
                style_name.val(mapped[item].style_name);
                beer_id.val(mapped[item].id);
                brewer_id.val(mapped[item].brewer_id);
                style_id.val(mapped[item].style_id);
                return mapped[item].name;
            },
          });
        });
      });
  </script>
  {% endblock js %}

  {% block kb-extrajs %}{%endblock%}

  {% if GOOGLE_ANALYTICS_ID %}
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{GOOGLE_ANALYTICS_ID}}']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  {% endif %}
</head>

<body {% block bodyattrs %}{% endblock %}>
{% block body %}
{% endblock body %}
</body>

