{% extends "base.html" %}
{% load kegweblib %}

{% block title %}your account: {{user.username}}{% endblock %}

{% block content %}
<div class="contenthead">
  hello, {{user.username}}
</div>
<div class="content">
  <p>
    you are logged in.
  </p>
</div>

<div class="contenthead">
   profile
</div>
<div class="content">
  <p>
  <form action="/account/update_profile/" method="POST">
  {{profile_form.as_p}}
  <input type="submit" name="submit" value="submit">
  </form>
  </p>
</div>

<div class="contenthead">
   statements
</div>
<div class="content">
{% for statement in statements %}
<div>
{% include "kegweb/statement/statement.html" %}
</div>
{% endfor %}
</div>


{% endblock %}
