{% extends "page-twocol.html" %}
{% load kegweblib %}

{% block title %}drinker details for {{ drinker.username }}{% endblock %}

{% block col-1 %}
{% user_stats drinker as stats %}
<div class="kb-contentbox-head">
   {{ drinker.username }}: overview
</div>
<div class="kb-contentbox">
  <div style="float:left;">
    {% mugshot_box drinker 128 %}
  </div>
  <table border="0" class="kb-statstable">
     <tr>
       <td valign="top" align="right">
         <b>Total Sessions</b>
       </td>
       <td>
         {{ stats.UserSessions.count }}
       </td>
     </tr>

     <tr>
        <td align="right" valign="top"><b>Total Drinks</b></td>
        <td align="left">{{ stats.AllDrinks.count }}</td>
     </tr>

     {% if stats.HasHadADrink %}
     <tr>
        <td align="right" valign="top"><b>First Drink</b></td>
        <td align="left">
          {{ stats.EarliestDrink.starttime|date:"l, F j, Y"}}<br>
          <i>({{ stats.EarliestDrink.starttime|timesince }} ago)</i>
        </td>
     </tr>

     <tr>
        <td align="right" valign="top"><b>Last Drink</b></td>
        <td align="left">
          {{ stats.LatestDrink.starttime|date:"l, F j, Y" }}<br>
          <i>({{ stats.LatestDrink.starttime|timesince }} ago)</i>
        </td>
     </tr>
     {% endif %}

     <tr>
        <td align="right" valign="top"><b>Total Volume</b></td>
        <td align="left">
         {{ stats.TotalVolume.ConvertTo.Ounce|floatformat:2}} oz<br>
         = {{ stats.TotalVolume.ConvertTo.Pint|floatformat:0}} pints<br>
         = {{ stats.TotalVolume.ConvertTo.USGallon|floatformat:0}} gallons<br>
         = {{ stats.TotalVolume.ConvertTo.HalfBarrelKeg|floatformat:2}} kegs<br>
        </td>
     </tr>
  </table>
</div>

<div class="kb-contentbox-head">
   all sessions
</div>
<div class="kb-contentbox">
  {% for session in stats.UserSessions %}
  {% include "kegweb/user-session.html" %}
  {% endfor %}
</div>

{% endblock %}

{% block col-2 %}
{% user_stats drinker as stats %}
<div class="kb-contentbox-head">
  stats
</div>
<div class="kb-contentbox">
  <table border="0" class="kb-statstable">
    <tr>
      <th>Activity by Day</th>
      <td>
        <img src="{% chart sessions_weekday stats.UserSessions 200 64 %}">
      </td>
    </tr>

    <tr>
      <th>Volume per Session</th>
      <td>
        <img src="{% chart sessions_volume stats.UserSessions 200 64 %}">
      </td>
    </tr>
  </table>
</div>
{% endblock %}
