{% extends "page-twocol.html" %}
{% load kegweblib %}

{% block title %}drinker details for {{ drinker.username }}{% endblock %}

{% block kb-extrajs %}
    {% user_stats drinker as stats %}
    <script type="text/javascript">
      // Load the Visualization API and the tablepackage.
      google.load('visualization', '1', {'packages':['table']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(buildTable);

      function buildTable() {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'When');
        data.addColumn('number', 'Pints');
        data.addColumn('number', 'Drinkers');
        data.addRows({{stats.UserSessions.count}});

        {% for session in stats.UserSessions %}
        data.setCell({{forloop.counter0}}, 0,
            {{session.starttime|datetime_js}});
        data.setCell({{forloop.counter0}}, 1, {{session.Volume.ConvertTo.Pint}},
          '{{session.Volume.ConvertTo.Pint|floatformat:1}}');
        data.setCell({{forloop.counter0}}, 2, {{session.session.users.count}});
        {% endfor %}
        var table = new google.visualization.Table(document.getElementById('kb-user-sessions-table'));
        var formatter = new google.visualization.BarFormat({width: 50});
        formatter.format(data, 1);
        table.draw(data, {
          showRowNumber: false,
          allowHtml: true,
          page: 'enable',
          pageSize: 50});
      }

    </script>
{% endblock kb-extrajs %}


{% block col-1 %}
{% user_stats drinker as stats %}
<div class="kb-contentbox-head">
   {{ drinker.username }}: overview
</div>
<div class="kb-contentbox">
  <div style="float:left;">
    {% mugshot_box drinker 128 %}
  </div>
  <table border="0" class="kb-statstable">
     <tr>
       <td valign="top" align="right">
         <b>Total Sessions</b>
       </td>
       <td>
         {{ stats.UserSessions.count }}
       </td>
     </tr>

     <tr>
        <td align="right" valign="top"><b>Total Drinks</b></td>
        <td align="left">{{ stats.AllDrinks.count }}</td>
     </tr>

     {% if stats.HasHadADrink %}
     <tr>
        <td align="right" valign="top"><b>First Drink</b></td>
        <td align="left">
          {{ stats.EarliestDrink.starttime|date:"l, F j, Y"}}<br>
          <i>({% timeago stats.EarliestDrink.starttime %})</i>
        </td>
     </tr>

     <tr>
        <td align="right" valign="top"><b>Last Drink</b></td>
        <td align="left">
          {{ stats.LatestDrink.starttime|date:"l, F j, Y" }}<br>
          <i>({% timeago stats.LatestDrink.starttime %})</i>
        </td>
     </tr>
     {% endif %}

     <tr>
        <td align="right" valign="top"><b>Total Volume</b></td>
        <td align="left">
         {{ stats.TotalVolume.ConvertTo.Ounce|floatformat:2}} oz<br>
         = {{ stats.TotalVolume.ConvertTo.Pint|floatformat:0}} pints<br>
         = {{ stats.TotalVolume.ConvertTo.USGallon|floatformat:0}} gallons<br>
         = {{ stats.TotalVolume.ConvertTo.HalfBarrelKeg|floatformat:2}} kegs<br>
        </td>
     </tr>
  </table>
</div>

<div class="kb-contentbox-head">
   all sessions
</div>
<div class="kb-contentbox">
  <table border="0" class="kb-statstable" id="kb-user-sessions-table"></table>
</div>

{% endblock %}

{% block col-2 %}
{% user_stats drinker as stats %}
<div class="kb-contentbox-head">
  stats
</div>
<div class="kb-contentbox">
  <table border="0" class="kb-statstable">
    <tr>
      <th>Activity by Day</th>
      <td>
        <img src="{% chart sessions_weekday stats.UserSessions 200 64 %}">
      </td>
    </tr>

    <tr>
      <th>Volume per Session</th>
      <td>
        <img src="{% chart sessions_volume stats.UserSessions 200 64 %}">
      </td>
    </tr>
  </table>
</div>
{% endblock %}
