{% extends "base.html" %}
{% load kegweblib %}

{% block title %}drink {{ drink.id }} by {{ drink.user.username }}{% endblock %}

{% block content %}

<div class="contenthead">
   drink information
</div>
<div class="content">
   <p>
   <table cellspacing=3 border=0 width="430">
      <tr>
         <td colspan="2" align="center">
            <i>drink number {{ drink.id }}, consumed by {{ drink.user }}</i>
         </td>
         <td rowspan="7" align="right" valign="top">
            <img src="/site_media/images/beerpint.png" width="50" height="94">
         </td>
      </tr>
      <tr>
         <td align="right"><b>drink size:</b></td>
         <td>{{ drink.Volume.ConvertTo.Ounce|floatformat:2 }} ounces</td>
      </tr>
      <tr>
         <td align="right"><b>pour start:</b></td>
         <td>{{ drink.starttime }}</td>
      </tr>
      <!-- TODO FIXME
      <tr>
         <td align="right"><b>cost:</b></td>
         <td>{$drink->getCost()|money_fmt}</td>
      </tr>
      -->
      <tr>
         <td align="right"><b>pour end:</b></td>
         <td>{{ drink.endtime }}</td>
      </tr>
      <tr>
         <td align="right"><b>keg:</b></td>
         <td><a href="/kegs/{{drink.keg.id}}/">{{drink.keg}}</a></td>
      </tr>

   </table>
   </p>
</div>

<div class="contenthead">
   drinking with {{ drink.user.username }}
</div>
<div class="content">
   <p>

   {% if not drink.GetGroup %}
     <b>{{ drink.user.username }}</b> appeared to be drinking alone.
   {% else %}
     {% show_drink_group drink.GetGroup %}
   {% endif %}

   </p>
</div>

{% endblock %}
