{% extends "base.html" %}
{% load kegweblib %}

{% block title %}leader board{% endblock %}

{% block content %}

{% for keg,drinkpairs in top_volume_drinkers_by_keg %}

<div class="contenthead">
   top drinkers: keg {{ keg.id }}
</div>
<div class="content">
  <table>
    <tr>
      <td valign="top">
        {% for volume,drinker in drinkpairs %}
        {% include "kegweb/leader_box.html" %}
        {% endfor %}
      </td>
    </tr>
  </table>
</div>

{% endfor %}


<div class="contenthead">
   top drinkers: all time
</div>
<div class="content">
  <table>
    <tr>
      <td valign="top">
        {% for volume,drinker in top_volume_drinkers_alltime %}
        {% include "kegweb/leader_box.html" %}
        {% endfor %}
      </td>
    </tr>
  </table>
</div>



{% endblock %}
