name: Docker Build (amd64)

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master    

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up Docker Buildx
        id: buildx
        uses: crazy-max/ghaction-docker-buildx@v1
        with:
          version: latest
      -
        name: Available platforms
        run: echo ${{ steps.build.outputs.platforms }}
      -
        name: Build
        run: |
          docker buildx build \
            --platform linux/amd64 \
            -t current \
            --load .
      -
        name: Login to DockerHub Registry
        if: success() && github.ref == 'refs/heads/master'
        run: echo ${{ secrets.DOCKER_HUB_PASSWORD }} | docker login -u ${{ secrets.DOCKER_HUB_USERNAME }} --password-stdin
      -
        name: Tag as latest
        if: success() && github.ref == 'refs/heads/master'
        run: |
          docker tag current kegbot/server:latest
      -
        name: Publish
        if: success() && github.ref == 'refs/heads/master'
        run: |
          docker push kegbot/server:latest
