{% extends "account/base.html" %}

{% block kb-account-main %}
<div class="kb-contentbox-head">
  hello, {{user.username}}
</div>
<div class="kb-contentbox">
  <form action="" method="POST">{% csrf_token %}
    <table class="kb-form">
      {{ profile_form.as_table }}
      <tr>
        <td colspan="2">
          <input type="submit" value="update profile" />
        </td>
      </tr>
    </table>
  </form>
</div>

{% if user.is_staff or user.is_superuser %}
<div class="kb-contentbox-head">
  api key
</div>
<div class="kb-contentbox">
  <p>
    Use this API key to access the kegbot web service. Ssh! Keep it secret!
  </p>
  <pre>{{ user.get_profile.GetApiKey.Encode }}</pre>
  <form action="regenerate-api-key/" method="POST">
  {{ apikey_form.as_p }}
  <input type="submit" name="regenerate api key" value="regenerate api key">
  </form>

</div>
{% endif %}
{% endblock %}
