{% extends "account/base.html" %}
{% load kegweblib %}

{% block pagetitle %}Account: Mugshot{% endblock %}

{% block kb-account-main %}
<h2>Change Mugshot</h2>

<form enctype="multipart/form-data" method="post" action="">
{% csrf_token %}
  <table class="kb-form">
    <tr>
      <td>
        {% mugshot_box user 100 %}
      </td>
    </tr>
    <tr>
      <td>
        {{mugshot_form.as_p}}
      </td>
    </tr>
    <tr>
      <td valign="top">
        <button type="submit" class="btn primary">Save Changes</button>
      </td>
    </tr>
  </table>
</form>

{% endblock %}
